<div class="mb-4">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <button type="button" class="btn btn-primary"><%= f.button :submit %></button>
  <% end %>
</div>
<button type="button" class="btn btn-primary"><%= link_to "Back to List", lists_path, class: "text-dark text-decoration-none" %></button>
